<div class="header">
  <div class="container w-container">
    <div class="div-block">
      <h1 class="heading">Get insider insight into the biotech industry.</h1>
      <p class="paragraph">Get the insider knowledge into the biotech industry necessary to make in-depth company analysis. Pharmaview* collects information such as stock prices, focus areas, product information, pipeline status etc.</p>
    </div>
    <div class="div-block right-header w-clearfix">
      <div class="div-block header-info">
        <div class="text-block text-s">Products</div>
        <div class="text-b text-block">2450</div>
      </div>
      <div class="div-block header-info">
        <div class="text-block text-s">Focus areas</div>
        <div class="text-b text-block">1285</div>
      </div>
      <div class="div-block header-info">
        <div class="text-block text-s">Companies</div>
        <div class="text-b text-block"><%= @companies.count %></div>
      </div>
    </div>
    <div class="div-block header-link-div right-header"><a class="link" href="#">Browse companies&nbsp;→</a></div>
  </div>
</div>
<div class="container-2 w-container">
  <div class="compange-page">
  <% @companies.each do |c| %>
    <%= link_to(company_path(c)) do %>
      <b><%= c.title %></b><br><br>
    <% end %>
  <% end %>
  </div>
</div