/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
}
.navbar-brand {
  color: #eaeaea !important;
  span {
  font-weight: 600;
  }
}
.navbar-nav > li > a {
  font-weight: 600;
  color: #eaeaea !important;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.2s;
  &:hover {
    background-color: none !important;
    color: #eaeaea !important;
  }
}
.navbar-default {
  background-color: #40434e;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 1px 4px #d8d8d8;
  margin-bottom: 0px;
}
.page {
  margin-top: -50px;
  padding-top: 100px;
  min-height: 94vh;
}
.clogo {
  height: 65px;
}
.c-chart {
  height: 400px;
  color: #b3b3b3;
  text-align: center;
  padding: 0px;
  h3 {
    margin-top: 28%;
  }
}
.wrap {
}
.info-t {
  th {
    padding-right: 45px;
  }
  &:first-child {
    margin-bottom: 12px;
  }
}
.t-price {
  font-weight: 400;
  font-size: 25px;
}
.t-mcap {
  font-weight: 400;
  font-size: 16px;
}
.info-row {
  h1 {
    margin-top: 0px;
  }
}
.green {
  color: green !important;
}
.red {
  color: red !important;
}
.t-icon {
  float: left;
}
.focus-area {
  margin-bottom: 12px;
}
.price-info {
  padding-left: 20px;
  border-left: 3px solid #dedede;
}
.second-nav {
  background-color: #fdfdfd;
  height: 65px;
  border-top: 3px solid rgb(15, 157, 224);
}
.main-search {
  width: 100% !important;
  height: 40px;
  border-radius: 1px;
  margin-top: 2px;
  border: none;
  background-color: #f5f5f5;
  color: #ffffff;
  border-bottom: 2px solid #d8d8d8;
  transition: 0.2s;
  &:focus {
    box-shadow: none;
    background-color: #eaeaea;
    color: #40434e;
  }
}
.search-wrap {
  width: 100%;
}
.list-i {
  padding: 10px 15px;
  background-color: #f1f1f1;
  border: 1px solid #e0e0e0;
  border-top: 1px solid #fbfbfb;
  &:first-child {
    border-top: 1px solid #e0e0e0;
  }
  p {
    display: inline;
  }
}
.list-img {
  height: 25px;
  float: left;
}
.c-name {
  font-weight: 600;
  font-size: 15px;
  margin-right: 15px;
}
.c-list {
  margin: 0px;
}
.img-wrap {
  margin-right: 15px;
}
.l-text {
  padding-top: 3px;
}