.nav {
  border-bottom: 3px solid red;
  background-color: #2e2a35;
}

.navbar {
  z-index: 10;
  overflow: visible;
  border-bottom: 4px none #739fc9;
  background-color: #203260;
}

.nav-link {
  margin: 0px;
  padding: 22px;
  font-family: 'Open Sans', sans-serif;
  color: #cbd0e9;
  font-style: normal;
  font-weight: 700;
}

.nav-link:hover {
  color: #eaeaea;
}

.body {
  background-color: #f2f5fa;
  font-family: 'Open Sans', sans-serif;
}

.nav-menu {
  float: left;
}

.nav-wrap {
  display: inline-block;
}

.nav-wrap.nav-left {
  float: left;
}

.nav-wrap.nav-left.mobile-nav {
  display: none;
}

.nav-wrap.nav-right {
  position: relative;
  float: right;
}

.nav-menu-2 {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  float: none;
  clear: none;
}

.main-search {
  height: 42px;
  margin-top: 14px;
  margin-bottom: 14px;
  float: none;
  clear: none;
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #e0e0e0;
  border-radius: 2px;
  background-color: #f2f5fa;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #627792;
  font-weight: 700;
}

.main-search:hover {
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.main-search:focus {
  border-bottom-color: #65a1ee;
}

.form-block {
  width: 75%;
  margin-bottom: 0px;
  float: left;
}

.form-block.ticker-search-block {
  width: 17%;
  float: right;
}

.form-block.ticker-form {
  width: 17%;
  float: right;
}

.navbar-2 {
  z-index: 5;
  display: block;
  overflow: visible;
  border-style: none;
  border-bottom-width: 3px;
  border-bottom-color: #dfdfdf;
  background-color: #fff;
}

.menu-button:focus {
  background-color: #0098ff;
}

.header {
  display: block;
  background-image: url('../images/header2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.heading {
  width: 500px;
  margin-top: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.paragraph {
  width: 500px;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #f2f5fa;
  font-size: 16px;
  line-height: 25px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block {
  display: block;
  margin-left: 0px;
  float: left;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.div-block.header-info {
  margin-top: 60px;
  margin-left: 50px;
  text-align: left;
}

.div-block.right-header {
  margin-top: 0px;
  float: right;
}

.div-block.right-header.header-link-div {
  margin-top: 98px;
  margin-left: 92px;
  float: left;
}

.text-block {
  display: inline-block;
  margin-top: 0px;
  color: #f2f5fa;
  font-size: 14px;
}

.text-block.text-b {
  margin-top: 5px;
  margin-right: 15px;
  font-size: 30px;
  font-weight: 300;
}

.text-block.text-s {
  display: block;
  font-weight: 700;
}

.link {
  border-bottom: 1px solid #f2f5fa;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.ticker-search {
  height: 42px;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 8px 12px;
}

.form {
  width: 100%;
}

.company-page {
  margin-top: 0px;
  padding-top: 50px;
}

.image {
  margin-bottom: 20px;
}

.compange-page {
  display: block;
  min-height: 98%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.compange-page.d {
  display: none;
}

.div-block-2 {
  border-bottom: 1px solid #e4e4e4;
}

.company-main-header {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e4e4;
}

.div-block-3 {
  width: 60%;
  float: left;
}

.company-title {
  margin-top: 0px;
  color: #203260;
  font-weight: 300;
}

.div-block-4 {
  width: 40%;
  padding-left: 15px;
  float: left;
  border-left: 4px solid #e4e4e4;
}

.company-symbol {
  color: #203260;
  font-weight: 700;
}

.div-block-10 {
  margin-right: 30px;
  float: left;
  clear: none;
}

.div-block-10.stock-price-div {
  float: none;
  clear: none;
}

.div-block-10.last-info-div {
  margin-right: 0px;
}

.text-block-2 {
  color: #203260;
  font-size: 14px;
  font-weight: 700;
}

.text-block-2.stock-text {
  font-size: 15px;
}

.stock-price {
  margin-top: 5px;
  color: #203260;
  font-size: 28px;
  font-weight: 300;
}

.text-block-3 {
  color: #1dcc92;
  font-size: 15px;
}

.text-block-4 {
  color: #1dcc92;
  font-size: 15px;
}

.text-block-5 {
  color: #1dcc92;
  font-size: 15px;
}

.text-block-6 {
  color: #1dcc92;
  font-size: 15px;
}

.text-block-7 {
  color: #1dcc92;
  font-size: 15px;
}

.text-block-8 {
  color: #1dcc92;
  font-size: 15px;
}

.text-block-8.change-p {
  color: #203260;
}

.change-div {
  margin-top: 30px;
  margin-right: 30px;
  float: left;
  clear: none;
}

.change-div.last-change-div {
  margin-right: 0px;
}

.text-block-9 {
  margin-right: 15px;
  float: left;
  color: #203260;
  font-size: 18px;
  font-weight: 700;
}

.div-block-11 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
}

.link-2 {
  margin: 0px 5px 5px;
  padding: 3px 10px;
  border-radius: 2px;
  background-color: #627792;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
  color: #e4e4e4;
  font-weight: 600;
  text-decoration: none;
}

.link-2:hover {
  background-color: #3a478f;
  color: #f2f5fa;
}

.button {
  margin-top: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: right;
  border: 2px solid #3a478f;
  background-color: #fff;
  color: #3a478f;
  font-weight: 700;
}

.div-block-12 {
  width: 50%;
  padding-right: 15px;
  float: left;
}

.div-block-13 {
  padding-top: 20px;
}

.paragraph-2 {
  color: #203260;
  line-height: 25px;
}

.div-block-14 {
  width: 50%;
  height: 350px;
  float: left;
  background-color: #e4e4e4;
}

.footer {
  padding: 20px;
  background-color: #203260;
}

.list-item {
  float: left;
}

.list-item-2 {
  float: left;
}

.list-item-3 {
  float: left;
}

.text-block-10 {
  color: #cbd0e9;
}

.container-2 {
  display: block;
}

.nav-user {
  margin-right: 15px;
}

.dropdown-toggle {
  z-index: 10;
}

.dropdown-list {
  z-index: 10;
}

.dropdown-toggle-2 {
  z-index: 10;
}

.dropdown {
  z-index: 10;
}

.dropdown-link {
  z-index: 10;
}

.dropdown-link-2 {
  z-index: 10;
}

.dropdown-link-3 {
  z-index: 10;
}

.dropdown-toggle-3 {
  position: relative;
}

.dropdown-list-2 {
  color: #af4a4a;
}

.dropdown-list-2.w--open {
  border-style: none solid solid;
  border-width: 0px 1px 1px;
  border-color: transparent #212f53 #1f2c4d #1f2b4d;
  background-color: #203260;
  box-shadow: 4px 4px 12px -5px rgba(0, 0, 0, .42);
  color: transparent;
}

.dropdown-link-4 {
  border-bottom: 0px none #627792;
  border-left-color: transparent;
  -webkit-transition: border 150ms ease, background-color 150ms ease, color 150ms ease;
  transition: border 150ms ease, background-color 150ms ease, color 150ms ease;
  color: #cbd0e9;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

.dropdown-link-4:hover {
  border-left: 4px solid transparent;
  background-color: #283c6e;
  color: #f2f5fa;
}

.dropdown-link-5 {
  color: #cbd0e9;
}

.dropdown-link-6 {
  color: #cbd0e9;
}

.browse-page {
  padding-top: 50px;
  padding-bottom: 50px;
}

.heading-2 {
  margin-top: 0px;
  color: #3a478f;
}

.clist-wrap {
  margin-bottom: 50px;
  float: left;
}

.h1 {
  width: 15%;
  float: left;
  color: #203260;
}

.h1.clist-h1 {
  width: 21%;
  padding-left: 10px;
}

.h2 {
  width: 10%;
  float: left;
}

.clist-h2 {
  width: 15%;
  float: left;
}

.clist-h3 {
  width: 25%;
  float: left;
}

.clist-h4 {
  width: 10%;
  float: right;
}

.clist-company {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  float: left;
  border-style: solid;
  border-width: 0px 1px 1px;
  border-color: #e4e4e4;
  background-color: #f1f4f8;
  -webkit-transition: border 150ms ease;
  transition: border 150ms ease;
}

.clist-company:hover {
  border-left-width: 4px;
  background-color: #fcfcfc;
}

.clist-company.last {
  border-bottom-width: 1px;
}

.heading-3 {
  width: 20%;
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  color: #203260;
  font-size: 16px;
  font-weight: 600;
}

.text-block-11 {
  float: left;
}

.clist-ticker {
  width: 15%;
  float: left;
  color: #203260;
}

.clist-focus {
  width: 38%;
  float: left;
  color: #203260;
}

.clist-origin {
  width: 27%;
  padding-right: 35px;
  float: left;
  color: #203260;
  text-align: right;
}

.div-block-15 {
  width: 100%;
  float: left;
}

.text-block-12 {
  margin-right: 10px;
  padding-top: 5px;
  border-top: 1px none #c5c5c5;
  color: #203260;
}

@media (max-width: 991px) {
  .icon {
    color: #eaeaea;
  }
  .nav-wrap {
    display: inline-block;
  }
  .nav-wrap.nav-left.mobile-nav {
    display: none;
  }
  .nav-menu-2 {
    background-color: transparent;
  }
  .main-search {
    width: 98%;
    margin-right: 0px;
    padding-right: 12px;
    text-align: center;
  }
  .form-block.ticker-form {
    width: 18%;
    margin-right: 12px;
  }
  .header {
    display: block;
  }
  .heading {
    width: 400px;
  }
  .paragraph {
    width: 400px;
  }
  .div-block {
    margin-left: 20px;
  }
  .div-block.header-info {
    margin-top: 17px;
    margin-left: 0px;
    clear: left;
  }
  .div-block.right-header {
    margin-top: 38px;
    margin-right: 0px;
    margin-left: 80px;
    float: left;
  }
  .div-block.right-header.header-link-div {
    margin-top: 36px;
    margin-left: 82px;
  }
  .button {
    margin-right: 10px;
  }
  .heading-2 {
    text-align: center;
  }
  .clist-focus {
    color: #333;
  }
}

@media (max-width: 767px) {
  .nav-link.mobile-nav-link {
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    border-left: 4px solid #f2f5fa;
  }
  .nav-wrap.nav-left {
    display: none;
    float: none;
  }
  .nav-wrap.nav-left.mobile-nav {
    display: block;
  }
  .nav-wrap.nav-right {
    display: none;
    float: none;
  }
  .nav-menu-2 {
    background-color: #203260;
  }
  .main-search {
    width: 90%;
    margin-left: 12px;
  }
  .form-block.ticker-form {
    width: 20%;
    margin-right: 30px;
    margin-left: -10px;
  }
  .menu-button {
    margin-right: 15px;
  }
  .heading {
    width: 300px;
    margin-left: 20px;
    font-size: 30px;
  }
  .paragraph {
    width: 300px;
    margin-left: 20px;
  }
  .div-block.header-info {
    margin-top: 60px;
  }
  .div-block.right-header.header-link-div {
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: left;
    text-align: center;
  }
  .link {
    display: block;
    margin: 0px 0px 25px;
    padding-bottom: 0px;
    border-bottom-style: none;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
  }
  .div-block-2 {
    padding-left: 10px;
  }
  .div-block-3 {
    padding-left: 10px;
  }
  .div-block-10 {
    margin-top: 10px;
  }
  .div-block-10.last-info-div {
    margin-top: 10px;
  }
  .change-div {
    margin-top: 10px;
  }
  .change-div.last-change-div {
    margin-top: 10px;
  }
  .div-block-11 {
    padding-left: 10px;
  }
  .button {
    margin-right: 25px;
  }
  .div-block-12 {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 0px;
  }
  .div-block-13 {
    padding-right: 25px;
    padding-left: 10px;
  }
  .div-block-14 {
    width: 100%;
    padding-right: 0px;
  }
  .clist-h4 {
    width: 20%;
  }
}

@media (max-width: 479px) {
  .nav-link.mobile-nav-link {
    padding-left: 50px;
    border-left: 4px solid #f2f5fa;
  }
  .icon:focus {
    color: #203260;
  }
  .nav-wrap.nav-left {
    display: none;
  }
  .nav-wrap.nav-left.mobile-nav {
    display: block;
  }
  .nav-wrap.nav-right {
    display: none;
  }
  .main-search {
    width: 87%;
    margin-left: 14px;
  }
  .form-block {
    width: 98%;
  }
  .form-block.ticker-form {
    display: none;
  }
  .menu-button:focus {
    background-color: #f2f5fa;
  }
  .heading {
    width: 95%;
    margin-top: 25px;
    margin-left: 0px;
    padding-right: 15px;
    padding-left: 10px;
  }
  .paragraph {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 12px;
    font-size: 15px;
  }
  .div-block.header-info {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
    float: left;
    clear: none;
  }
  .div-block.header-info.mobile-last {
    margin-top: 10px;
    margin-left: 36%;
  }
  .div-block.right-header {
    margin-top: 0px;
    margin-bottom: 15px;
    margin-left: 10px;
  }
  .div-block.right-header.header-link-div {
    margin-top: 0px;
    margin-bottom: 0px;
    float: none;
  }
  .text-block.text-b {
    font-size: 25px;
  }
  .text-block.text-s {
    font-size: 12px;
  }
  .container {
    padding-bottom: 0px;
  }
  .link {
    margin-top: 0px;
    padding-top: 0px;
  }
  .div-block-3 {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
  }
  .div-block-4 {
    width: 100%;
    padding-left: 10px;
    border-style: none;
  }
  .div-block-10.stock-price-div {
    padding-left: 10px;
    border-left: 3px solid #e4e4e4;
  }
  .change-div {
    margin-top: 15px;
  }
  .link-2 {
    margin-bottom: 5px;
    float: left;
    clear: none;
  }
  .button {
    font-size: 12px;
  }
  .div-block-12 {
    margin-bottom: 10px;
  }
  .div-block-14 {
    height: 250px;
  }
  .h1.clist-h1 {
    width: 35%;
    font-size: 14px;
  }
  .clist-h2 {
    display: none;
  }
  .clist-h3 {
    font-size: 14px;
  }
  .clist-h4 {
    font-size: 14px;
  }
  .heading-3 {
    width: 32%;
    padding-right: 5px;
    font-size: 13px;
  }
  .clist-ticker {
    display: none;
  }
  .clist-focus {
    padding-right: 5px;
    font-size: 13px;
  }
  .clist-origin {
    font-size: 12px;
  }
  .text-block-12 {
    display: none;
  }
}